{% extends 'base.html' %} {% block body %}

<h3>How Old Will You Be ... ?</h3>
<form action="/age" method="POST">
  <label for="birth_year">What year were you born?</label>
  <input type="text" id="birth_year" name="birth_year" autofocus required />
  <br /><br />

  <input type="submit" name="future_age" value="Will You Be In 10 Years?" />
  <input type="submit" name="past_age" value="Were You 10 Years Ago?" />
  <input type="reset" value="Clear" />
</form>
<br />
<br />
{% if age %} {{age}} {% endif %} {% endblock %}